@use "../../styles/index.scss" as *;

.Button {
  all: unset;
  border: 2px solid var(--color-text-dark);
  padding: defaultUnit(6) defaultUnit(16);
  border-radius: defaultUnit(16);
  cursor: pointer;
  transition:
    background-color 0.3s ease-in,
    border-color 0.3s ease-in;

  &--large {
    padding: defaultUnit(6) defaultUnit(16);
    height: defaultUnit(40);
  }

  &--medium {
    padding: defaultUnit(6) defaultUnit(16);
    height: defaultUnit(28);
  }

  &--small {
    padding: defaultUnit(6) defaultUnit(16);
    height: defaultUnit(22);
  }

  &--outlined {
    &:hover {
      border-color: var(--color-text-secondary);
    }
  }

  &--filled {
    color: var(--color-text-light);
    background-color: var(--color-text-dark);
    border-color: var(--color-text-secondary);

    svg {
      path {
        fill: var(--color-text-light);
      }
    }

    &:hover {
      background-color: var(--color-text-secondary);
    }
  }
}
