@use "../../styles/index.scss" as *;

.About {
  padding-top: defaultUnit(128);
  padding-bottom: defaultUnit(128);
  background-color: var(--color-background-dark);
  color: var(--color-text-light);

  &__container {
    max-width: defaultUnit(1152);
    margin: 0 auto;
  }

  @include tablet {
    padding-left: defaultUnit(20);
    padding-right: defaultUnit(20);
  }

  &__wrapper {
    max-width: defaultUnit(576);
    color: var(--color-text-light);
  }

  &__title {
    font-size: defaultUnit(36);
    color: inherit;
  }

  &__text {
    font-size: defaultUnit(18);
    margin-top: defaultUnit(40);
    color: inherit;
  }
}
