@use "../../styles/index.scss" as *;

.Card {
  max-width: defaultUnit(768);
  transition: background-color 0.2s ease-out;
  border: 1px solid transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: defaultUnit(26);
  }

  &__subTitle {
    font-size: defaultUnit(18);
  }

  hr {
    margin-top: defaultUnit(20);
    margin-bottom: defaultUnit(20);
  }

  &__description {
    font-size: defaultUnit(16);
  }

  &__link {
    display: flex;
    justify-content: flex-end;
    margin-top: defaultUnit(20);

    &:hover {
      cursor: pointer;
    }
  }
}
