@use "../../styles/index.scss" as *;

.Card {
  max-width: defaultUnit(768);
  transition: background-color 0.2s ease-out;
  border: 1px solid transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: defaultUnit(10);
  box-shadow:
    rgba(118, 118, 118, 0.4) -5px 5px,
    rgba(118, 118, 118, 0.3) -10px 10px,
    rgba(118, 118, 118, 0.2) -15px 15px,
    rgba(118, 118, 118, 0.1) -20px 20px,
    rgba(118, 118, 118, 0.05) -25px 25px;
  border-top: 2px solid var(--color-accent);
  border-right: 2px solid var(--color-accent);

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: defaultUnit(26);
  }

  &__subTitle {
    font-size: defaultUnit(18);
  }

  hr {
    margin-top: defaultUnit(20);
    margin-bottom: defaultUnit(20);
  }

  &__description {
    font-size: defaultUnit(16);
  }

  &__link {
    display: flex;
    justify-content: flex-end;
    margin-top: defaultUnit(20);

    &:hover {
      cursor: pointer;
    }
  }
}
