@use "../../styles/index.scss" as *;

.Contact {
  color: var(--color-text-dark);
  padding-top: defaultUnit(128);
  padding-bottom: defaultUnit(128);

  &__container {
    max-width: defaultUnit(1152);
    margin: 0 auto;

    @include tablet {
      padding-left: defaultUnit(20);
      padding-right: defaultUnit(20);
    }
  }

  &__title {
    font-size: defaultUnit(48);
    margin-bottom: defaultUnit(20);
  }

  &__content {
    display: flex;
    gap: defaultUnit(20);

    @include mobile {
      flex-direction: column;
    }
  }

  &__text {
    flex: 1;
  }

  &__links {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__link {
    margin-bottom: defaultUnit(10);
    text-decoration: underline;
    display: flex;
    align-items: center;

    svg {
      transform: rotate(315deg);
      path {
        fill: #000;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}
