@use "../../styles/index.scss" as *;

.Header {
  position: sticky;
  top: 0;
  height: defaultUnit(70);
  background-color: var(--color-background-light);
  z-index: 999;

  &__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: defaultUnit(1152);
    margin: 0 auto;

    @include tablet {
      padding: defaultUnit(0) defaultUnit(20);
    }
  }

  &__logo {
    all: unset;
  }

  &__list {
    display: flex;

    @include mobile {
      display: none;
    }

    &__item {
      position: relative;
      padding-top: defaultUnit(10);
      padding-left: defaultUnit(20);
      padding-bottom: defaultUnit(10);
      color: var(--color-text-dark);

      &:hover {
        cursor: pointer;
      }

      &:after {
        content: "";
        position: absolute;
        width: 0%;
        height: 1px;
        display: block;
        transition: all 0.3s ease;
        bottom: 15%;
      }

      &:hover::after {
        width: 50%;
        height: 1px;
        background-color: var(--color-text-dark);
      }
    }
  }

  &__sidebar {
    position: fixed;
    top: defaultUnit(70);
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff; /* Set your desired background color */
    z-index: 1000;
    transition: left 0.3s ease;

    &--active {
      left: 0;
    }
  }
}
